<div class="registration">
    <nav>
        <a class="button" routerLink="/">Back to Home </a>
    </nav>
    <h2>Checkin</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Enter PID</label>
            <input type="text" id="pidCheck" name="pidCheck" [(ngModel)]="pidCheck" required>
        </div>
        <button value="reset" type="submit">Submit</button>
    </form>
    <div color='red' class="error message" *ngIf="badPID">
        Error, Bad PID.
    </div>
    <div color="red" class="message">
        {{message}}
    </div>
</div>